<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Hebrew Tutor</title>
    @Styles.Render("~/Content/css/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
        <a class="navbar-brand" href="/">Hebrew Tutor</a>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right mr-auto">
                <li class="nav-item"><a href="/Account/Register" id="registerLink" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="/Account/Login" id="loginLink" class="nav-link">Log in</a></li>
            </ul>

        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="fixed-bottom bg-dark text-white border rounded">
            <p class="ml-4">&copy; @DateTime.Now.Year - Jonathan Whittle</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @Scripts.Render("~/Content/js/jquery")
    @Scripts.Render("~/Content/js/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
