@model HebrewTutor2.Models.QuizWord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuizWord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lemma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lemma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parsing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parsing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Explanation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
